[submodule "rCore-Tutorial-v3-arm64"]
	path = aarch64
	url = https://github.com/DeathWish5/rCore-Tutorial-v3-arm64.git
[submodule "rCore-Tutorial-v3"]
	path = riscv64
	url = https://github.com/DeathWish5/rCore-Tutorial-v3.git
